
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="py-lg-5 col-md-8 col-md-offset-2 text-center">
                <h1 class="py-lg-5">About</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md text-center">
            <img class="rounded-circle" src="https://www.fillmurray.com/140/140" alt="">
            <h2>1st Person</h2>
            <p>Etiam porta sem malesuada magna mollis euismod. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Profile &raquo;</a></p>
        </div>
        <div class="col-12 col-md text-center">
            <img class="rounded-circle" src="https://www.fillmurray.com/139/139" alt="">
            <h2>2nd Person</h2>
            <p>Duis mollis, est non commodo luctus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Profile &raquo;</a></p>
        </div>
        <div class="col-12 col-md text-center">
            <img class="rounded-circle" src="https://www.fillmurray.com/141/141" alt="">
            <h2>3rd Person</h2>
            <p>Donec sed odio dui commodo mollis.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Profile &raquo;</a></p>
        </div>
        <div class="col-12 col-md text-center">
            <img class="rounded-circle" src="https://www.fillmurray.com/140/141" alt="">
            <h2>4th Person</h2>
            <p>Donec sed risis dulioni malesuada porta.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Profile &raquo;</a></p>
        </div>
    </div>
</div>
