
@{
    ViewData["Title"] = "BlogPost";
}

<header class="jumbotron bg-light">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Give Me Bacon or Give Me Death</h1>
                    <h2 class="subheading">Fry your way to happiness</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">DotNetNitro</a>
                        on 8 June, 2019
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Bacon ipsum dolor amet turkey pork belly rump, capicola filet mignon tri-tip jowl short ribs ribeye leberkas sausage tail burgdoggen cupim. Boudin ball tip sirloin alcatra biltong shoulder capicola short loin bresaola pancetta porchetta salami picanha hamburger. Picanha meatball leberkas tenderloin short ribs spare ribs. Filet mignon kevin ribeye, tenderloin beef ribs swine salami. Picanha alcatra cupim ground round tenderloin, biltong chicken boudin burgdoggen sausage. Short loin cupim venison beef ribs meatball pork loin cow. Biltong buffalo ham hock strip steak andouille filet mignon shank bacon brisket shankle tail ham chuck frankfurter.</p>

                <p>
                    Meatloaf cow tail tenderloin kielbasa. Kevin meatloaf bresaola venison, ham short ribs ground round ball tip beef ribs fatback turkey beef t-bone pork loin. Ball tip hamburger chicken jerky bacon, doner biltong drumstick brisket alcatra fatback flank pork belly frankfurter. Tongue tail prosciutto turkey alcatra. Pastrami biltong picanha sausage shank andouille ham burgdoggen corned beef. Short ribs buffalo picanha beef swine pig ham corned beef tri-tip. Ground round brisket bacon tri-tip cow fatback ham hock short loin capicola short ribs frankfurter pig jowl tenderloin pork belly.
                </p>

                <p>
                    Picanha pastrami landjaeger corned beef spare ribs short loin filet mignon. Kevin meatball andouille tenderloin prosciutto, pastrami burgdoggen hamburger. Picanha meatloaf ham hock, jerky shankle burgdoggen leberkas hamburger. Swine tenderloin short loin, andouille kevin buffalo ground round fatback short ribs pork belly kielbasa sirloin turkey tri-tip. Ribeye ham biltong prosciutto flank meatball picanha kevin cupim pork belly tri-tip beef brisket kielbasa. Pork belly cupim drumstick, jerky ball tip fatback swine doner spare ribs burgdoggen pancetta prosciutto. Pig turducken pork, prosciutto strip steak biltong landjaeger tongue chicken brisket pastrami bacon alcatra shankle corned beef.
                </p>

                <p>
                    Porchetta ground round picanha landjaeger pork rump beef sirloin burgdoggen pork loin venison pancetta kevin. Drumstick leberkas capicola venison pancetta pork belly. Rump landjaeger cupim strip steak salami. Hamburger venison porchetta pork. Strip steak capicola doner fatback, landjaeger leberkas andouille turkey chuck cow rump ham. Shoulder corned beef tail spare ribs. Porchetta pork belly t-bone ground round, cupim rump kielbasa pastrami bresaola doner kevin flank.
                </p>

                <p>Pastrami ball tip hamburger shoulder prosciutto pork chop tenderloin pork belly. Beef ribs t-bone ham hamburger chuck flank pork belly corned beef kielbasa pork chop. Pork loin chuck fatback doner pork belly venison. Shoulder ground round sirloin, alcatra salami kevin pork pork chop short loin shank meatloaf cupim beef ribs andouille. Pork belly bresaola tri-tip landjaeger, prosciutto meatloaf rump. Sirloin venison kevin hamburger, t-bone meatloaf jerky leberkas prosciutto chuck pork chop.</p>
                <p>
                    Placeholder text by
                    <a href="https://baconipsum.com/">Bacon Ipsum</a>. Photographs by
                </p>
            </div>
        </div>
    </div>
</article>
